@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/static/fonts/Inter-UI-Regular.woff2') format('woff2'),
    url('/static/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Juniper';
	font-weight: 400;  
	src: url('/static/fonts/Junicode-RegularCondensed.woff2') format('woff2'), url('/static/fonts/Junicode-RegularCondensed.woff') format('woff');
}

@font-face {
	font-family: 'Helmet';
	font-weight: 400;  
	src: url('/static/fonts/Helmet-Regular.woff2') format('woff2'), url('/static/fonts/Junicode-RegularCondensed.woff') format('woff');
}