@import "./app/src/sass/import";

$lightg: hsl(0, 0, 60);
$darkg: hsl(0, 0, 20);


$leftbar: 150px;

body,
html {
	background-color: $lightg;
	// font-family:  Arial, sans-serif;
	
	// font-weight: 600;
	font-family: "Helmet", Helvetica, Arial, sans-serif;
	// font-family: "Juniper", Times, serif;
	color: $darkg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100%;
}
.cf:after {
	content: "";
	display: table;
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h1 {
	// font-family: "Inter", Helvetica, Arial, sans-serif;
	// letter-spacing: -3px;
	// font-size: 5rem;
	// width: 100%;
	// text-align: center;
	// margin-top: 3rem;
}

textarea:focus,
input:focus {
	outline: none;
}

*:focus {
	outline: none;
}


#app {
	margin-top: 60px;
}

#grid {
	display: grid;
	grid-template-columns: $leftbar auto;
	grid-template-rows: auto $leftbar auto;


}

header {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 0;
	margin: 5rem 0;
	.back {
		width: 60%;
		margin: 0 auto;
	}
	@extend .cf;
	h1 {
		margin: 0;
		margin-top: 0px;
		font-size: 17vw;
		text-align: center;
		margin-top: 2rem;
		letter-spacing: -8px;
		position: absolute;
		width: 100%;
		mix-blend-mode: difference;
		color: darkcyan;
		line-height: 0.7; // position: sticky;
		filter:blur(2px);
		animation: blackblur 4s alternate ease-out infinite;

		// top: 10px
	}
	#claim {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin: 0.5rem;
		font-size: 9vw;
		letter-spacing: -0.05em; // color: hsla(0, 0, 85, 0.1);
		color: transparent;
		text-shadow: 0 0 5px black;
		animation: blackblur 5s alternate ease-out infinite;
		line-height: 0.9;
		text-align: center;
		// margin: 0.3em 0 0.4em 0.4em;
	}
}



#sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	// mix-blend-mode: difference;
	.sticker {
		height: 100vh;
		position: sticky;
		top: 0;
		display: flex;
		flex-flow:  wrap column;
	}
	.cls-1 {
		// fill: red;
		fill: $darkg;
	}
	
	.cls-2 {
		fill: $lightg;
	}
	.block {

		width: 100%;
	}

	#tmp_zone_img {

	}

	#searchbox {
		margin: 0;
		// margin-left: -3px;
		height: $leftbar;
		width: calc(100vh - #{$leftbar});
		padding: 0;
		transform-origin: left top;
		transform: rotate(90deg) translateY(-100%);
		text-transform: uppercase;
		font-size: $leftbar * 0.5;
		letter-spacing: 5rem; // width: 80vh;
		@extend .cf;
		input {
			width: 100%;
			    border: 0;
			    padding: $leftbar * 0.22;
			    background: transparent;
				
		}
	}
}

nav {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		background: hsl(0, 0, 40);
}

.books {

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

	display: flex;
	flex-wrap: wrap;
}

.bookbox {
	// width: calc((100vw - #{$leftbar})/5);
	width: calc(100% / 3);
	// height: calc(100%/6);
	float: left;
	// @extend .cf;
	min-height: 100px;
	background-size: cover;
	mix-blend-mode: difference;
	cursor: pointer;
	padding: 0 1px 1px 0;
	&:hover {
		mix-blend-mode: normal;

	}
	img {
		width: 100%;
		margin: 0;
		display: block;
	}

	h3 {
		margin: 0;
				color: wheat;
				z-index: 100;
				position: absolute;
				width: calc((100% - #{$leftbar}) / 3);
				background: -moz-linear-gradient( top, rgba(178, 178, 178, 0.7) 0%, rgba(178, 178, 178, 0) 100%);
				padding: .5rem;
	}

	.colorboxes {
		height: 1px;
		&:nth-of-type(1) {
			// height: 30px;
		}
		&:nth-of-type(2) {
			height: 10px;
		}
	}
	.colorbox {
		width: 20%;
		height: 100%;
		float: left;
	}
}

#bookPane {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
	&.shown {
		opacity: 1;
	}
	.img {
		width: 50%;
		height: 100%;
	}
	img {
		object-fit: contain;
		display: block;
		width: 100%;
		height: 100%;
	}
}


#abyss {
	height: 60vw;
	margin-top: -44vw;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 1000;
	background: -moz-linear-gradient( top, rgba(178, 178, 178, 0) 0%, rgba(178, 178, 178, 0.7) 100%); // background: -moz-linear-gradient(
	// 	top,
	// 	rgba(178, 178, 178, 0) 0%,
	// 	rgba(178, 178, 178, 1) 50%,
	// 	rgba(178, 178, 178, 0) 100%
	// );
}


// vue lazy loading
img {
	transition: all 1s;
}
img[lazy=loading] {
	opacity: 0;
	filter: blur(40px);
}

img[lazy=error] {
	/*your style here*/
}

img[lazy=loaded] {
	/*your style here*/
	opacity: 1;
	filter: blur(0);
}


//vue transitions
.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

	{
	opacity: 0;
}



/// anims
@keyframes blackblur {
	0% {
		text-shadow: 0 0 30px black;
	}

	100% {
		text-shadow: 0 0 2px black;
	}
}

@keyframes pages {
	0% {
		// text-shadow: 0 0 30px black;
		filter: blur(30px);
	}
	100% {
		// text-shadow: 0;
		filter: blur(1px);
	}
}