@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("/static/fonts/Inter-UI-Regular.woff2") format("woff2"), url("/static/fonts/Inter-UI-Regular.woff") format("woff"); }

body, html {
  background-color: black;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#app {
  text-align: center;
  margin-top: 60px; }
