/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

*,
*:before,
*:after {
  box-sizing: border-box; }

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  src: url("/static/fonts/roboto-mono.woff") format("woff"); }

@font-face {
  font-family: 'Helmet';
  font-weight: 400;
  src: url("/static/fonts/Helmet-Regular.woff2") format("woff2"), url("/static/fonts/Junicode-RegularCondensed.woff") format("woff"); }

body,
html {
  background-color: #999999;
  font-family: "Helmet", Helvetica, Arial, sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%; }

.cf:after, header .col1:after, header .col2:after, header:after, #sidebar #searchbox:after, #bookPane .info:after {
  content: "";
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

textarea:focus,
input:focus {
  outline: none; }

*:focus {
  outline: none; }

#app {
  margin-top: 60px; }

#grid {
  display: block; }

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem; }
  header .back {
    width: 60%;
    margin: 0 auto; }
  header #tmp_zone_img {
    width: 33.333%;
    margin: 0 auto; }
    header #tmp_zone_img .cls-1 {
      fill: #333333; }
    header #tmp_zone_img .cls-2 {
      fill: #999999; }
  header .col1 {
    float: left;
    width: 33.333%;
    padding: 1rem 0 6rem 0; }
  header .col2 {
    float: left;
    width: 66.666%;
    padding: 1rem 0 6rem 1rem; }
  header h1 {
    margin: 0;
    width: 100%;
    line-height: 0.7;
    font-size: 2rem;
    font-size: 3.3vw;
    letter-spacing: -0.04em; }
  header #claim {
    display: none;
    font-size: 1.3rem;
    letter-spacing: -0.04em;
    line-height: 0.9;
    margin: 0;
    font-family: 'RobotoMono', monospace; }

#infomark {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer; }

#info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #999999;
  z-index: 1001;
  color: #333333;
  font-size: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  font-family: "RobotoMono", monospace; }
  #info .half {
    width: 45%;
    float: left;
    padding-right: 10%; }
  #info p {
    margin-top: 0;
    margin-bottom: 1rem; }
  #info .bottom {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-family: "RobotoMono", monospace; }

#sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4; }
  #sidebar .sticker {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: wrap column; }
  #sidebar .block {
    width: 100%; }
  #sidebar #tmp_zone_img {
    display: block;
    width: 100%; }
  #sidebar #searchbox {
    margin: 0;
    height: 150px;
    width: calc(100vh - 150px);
    padding: 0;
    transform-origin: left top;
    transform: rotate(90deg) translateY(-100%);
    text-transform: uppercase;
    font-size: 75px;
    letter-spacing: 5rem; }
    #sidebar #searchbox input {
      width: 100%;
      border: 0;
      padding: 33px;
      background: transparent; }

nav {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-wrap: wrap; }

.bookbox {
  width: calc(100% / 4);
  float: left;
  min-height: 100px;
  background-size: cover;
  mix-blend-mode: difference;
  cursor: pointer;
  padding: 0 1px 1px 0; }
  .bookbox:hover {
    mix-blend-mode: normal; }
  .bookbox img {
    width: 100%;
    margin: 0;
    display: block; }
  .bookbox .empty {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50%; }
  .bookbox h3 {
    margin: 0;
    color: wheat;
    z-index: 100;
    position: absolute;
    width: calc((100% - 150px) / 3);
    background: -moz-linear-gradient(top, rgba(178, 178, 178, 0.7) 0%, rgba(178, 178, 178, 0) 100%);
    padding: .5rem; }
  .bookbox .colorboxes {
    height: 1px; }
    .bookbox .colorboxes:nth-of-type(2) {
      height: 10px; }
  .bookbox .colorbox {
    width: 20%;
    height: 100%;
    float: left; }

#bookPane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  pointer-events: none;
  cursor: pointer; }
  #bookPane.shown {
    pointer-events: all; }
  #bookPane .info {
    float: left;
    width: 50%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    background-color: #999999; }
    #bookPane .info p {
      font-size: 0.8rem;
      margin: 0;
      font-family: "RobotoMono", monospace; }
    #bookPane .info h2 {
      margin: 0 0 1rem 0;
      font-size: 2rem;
      line-height: 0.8; }
    #bookPane .info .infowrap {
      width: 100%; }
  #bookPane .img {
    float: left;
    width: 50%;
    height: 100%; }
  #bookPane img {
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    width: 100%;
    height: 100%; }

#abyss {
  height: 60vw;
  margin-top: -44vw;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1000;
  background: -moz-linear-gradient(top, rgba(178, 178, 178, 0) 0%, rgba(178, 178, 178, 0.7) 100%); }

img {
  transition: all 1s; }

img[lazy=loading] {
  opacity: 0;
  filter: blur(40px); }

img[lazy=error] {
  /*your style here*/ }

img[lazy=loaded] {
  /*your style here*/
  opacity: 1;
  filter: blur(0); }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.blur-enter-active,
.blur-move {
  transition: filter 2s ease, opacity 0.3s ease, transform 0.3s ease; }

.blur-leave-active {
  transition: filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease; }

.blur-enter-to,
.blur-leave {
  opacity: 1; }

.blur-enter,
.blur-leave-to {
  opacity: 0;
  filter: blur(10px); }

@keyframes blackblur {
  0% {
    text-shadow: 0 0 30px black; }
  100% {
    text-shadow: 0 0 2px black; } }

@keyframes pages {
  0% {
    filter: blur(30px); }
  100% {
    filter: blur(1px); } }
