<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index lolo</title>
</head>
<body>
    <h1>lololo</h1>

<ul></ul>
<% books.forEach(function(book) { %>
    <li>
        <%= book.title %> od autora 
        <% book.authors.forEach(function(autor) { %>
            <%= autor %> / 
        <% }); %>
    </li>
<% }); %>

</ul>
</body>
</html>